*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    width: 20%;
    float: left;
}

nav {
    width: 25%;
    height: 100vh;
    background-color: rgb(7, 71, 166);
    text-align: center;
    padding: 10px;
    transition: 0.2s;
    float: left;
}

nav:hover {
    width: 50%;
}


.create-issue{
    font-size: large;
    background: none;
    outline: none;
    color: aliceblue;
    margin-top: 10px;
    opacity: 1;
    
    
}

#mid-side-panel {
    height: 100vh;
    width: 15%;
    display: block;
    left: 85px;
    background-color: rgb(230,230,228);
    position: absolute;
    border-right: 1px solid rgb(197, 197, 193);
    padding: 20px;
    z-index: -2;
}



main {
    width: 80%;
    float: right;
    height: 100vh;
}

.main-container{
    width: 100%;
    padding: 2%;
    height: 100vh;
}




